
.items {
    margin-left: 20px;
    margin-top: 20px;
}
img{
    height: 20%;
    width: 20%;
}

@media (max-width: 700px) {
	.content{
		.item {
			width: 70%;
			display: block;
			margin-left: 10%;
			border-radius: 20px;
			img {
				width: 30%;
    			height: 90px;
			}
			p {
				display: inline;
			    margin-top: -20%;
			    float: left;
			    margin-left: 35%;
			}
		}
		.img-cont {
			display: inline;
		}
		.album-icon {
			display: none;
		}
	}

	.show-more {
		button {
		    padding: 5%;
		    margin: 2% 0% 5% 28%;
		}
	}
}


